#logo{
}

body{
    background-color: #edf5e1;
}

#total-orders{
    background-color: #379683;
}

#orders-delivered{
    background-color: #5cdb95;
}

#orders-pending{
    background-color: #8ee4af;
}